body {
    padding-top: 100px;
    padding-bottom: 30px;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}

.jumbotron {
    border: 1px solid #ccc;
}

.jumbotron, .container .jumbotron, .container-fluid .jumbotron {
    padding: 20px;
}
.jumbotron .row {
    text-align: center;
}
.api-console-form button.btn {
    width: 100%;
}

.api-console-form div {
    padding-left: 10px;
    padding-right: 10px;
}
.api-console-form > div:first-child {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.api-console-form > div:last-child {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.api-console-form .wallet-address, .api-console-form .api-domain {
    text-align: center;
    font-size: 0.9em;
}
.container .api-console-request, .container .api-console-response {
    border: 1px solid #ccc;
    background-color: #eee;
    width: 100%;
    min-height: 50px;
    border-radius: 6px;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .api-console-form div {
        margin-bottom: 10px;
    }
    .api-console-form input {
        font-size: 0.8em;
    }
}