body {
    padding-top: 100px;
    padding-bottom: 30px;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}

.jumbotron {
    border: 1px solid #ccc;
}

.jumbotron, .container .jumbotron, .container-fluid .jumbotron {
    padding: 20px;
}
.jumbotron .row {
    text-align: center;
}
.api-console-form button.btn {
    width: 100%;
}

.api-console-form div {
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}
.api-console-form > div:first-child {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.api-console-form > div:last-child {
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.api-console-form .resource-url, .api-console-form .api-domain {
    /*text-align: center;*/
    font-size: 0.9em;
}
.api-console-form .api-url,
.api-console-form .api-url-endpoints {
    cursor: pointer;
}
.api-console-form .api-url-text {
    padding-left: 3px;
    padding-right: 3px;
}
.api-console-form .api-url-endpoints {
    padding: 0px;
}
.api-console-form .api-url-endpoints .btn-group button {
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.api-console-form .api-url-endpoints .btn-group li span {
    display: block;
    padding: 3px 20px;
    line-height: 1.42857143;
    color: #333;
}

.api-console-request, .api-console-response {
    border: 1px solid #ccc;
    background-color: #eee;
    width: 100%;
    min-height: 100px;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 20px;

}
.api-console-request h3, .api-console-response h3 {
    margin: 0px;
    color: #555;
    border: 1px solid transparent;
    float: left;
    margin-right: 10px;
    /*position: relative;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);*/
}
.api-console-request hr, .api-console-response hr {
    border: 0;
    border-top: 1px solid transparent;
    margin-top: 50px;
    margin-bottom: 5px;
}
.api-console-request .btn-group, .api-console-response .btn-group {
    margin-top: 0px;
    float: right;
}
.api-console-request .btn-active, .api-console-response .btn-active {
    background-color: #ddd;
}

.api-console-request .btn:active, .api-console-response .btn:active {
    /*background-color: red;*/
}

.api-console-request ul li, .api-console-response  ul li {
    margin-right: 20px;
}
.api-console-request nav, .api-console-response  nav {
    min-height: 0px;
    margin-bottom: 0px;
}
.api-console-request pre, .api-console-response  pre {
    font-size: 0.9em;
}

@media (max-width: 992px) {
    .api-console-form div {
        margin-bottom: 10px;
    }
    .api-console-form input {
        font-size: 0.8em;
    }
}


@media (max-width: 768px) {
    
}
